execute store result score @s <<scoreboards.yaxis>> run data get entity @s Pos[1]

{% for region in mine_regions %}
{% set y_range = regions[region].y_range %}
execute if score @s <<scoreboards.yaxis>> matches <<y_range[0]>>..<<y_range[1]>> if <<workstation_state()>> if score <<scoreboards.gathering>> <<scoreboards.gathering>> matches 0 if score <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> matches <<gather.wait_ticks>>.. run function <<datapack.namespace>>:regions/<<region>>
{% endfor %}
{% for region in biome_regions %}
execute if score @s <<scoreboards.yaxis>> matches <<mines_end_y>>.. if <<workstation_state()>> if score <<scoreboards.gathering>> <<scoreboards.gathering>> matches 0 if score <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> matches <<gather.wait_ticks>>.. if predicate <<datapack.namespace>>:<<region>> run function <<datapack.namespace>>:regions/<<region>>
{% endfor %}
