give @s <<gather.workstation.item>>{display:{Name:'"<<gather.workstation.name>>"',Lore:['"<<gather.workstation.lore>>"']},BlockEntityTag:{Items:<<gather.workstation.give_items>>}} 1
scoreboard players set @s <<scoreboards.kit>> 0
# scoreboard players enable @a <<scoreboards.kit>>