give @s <<workstation.item>>{display:{Name:'"<<workstation.name>>"',Lore:['"<<workstation.lore>>"']},BlockEntityTag:{Items:<<workstation.give_items>>}} 1
scoreboard players set @s <<scoreboards.kit>> 0
scoreboard players enable @a <<scoreboards.kit>>