execute if score @p elapsed_time matches <<settings['wait_ticks']>>.. if predicate chillcraft:forest run function chillcraft:biome/forest
execute if score @p elapsed_time matches <<settings['wait_ticks']>>.. if predicate chillcraft:badlands run function chillcraft:biome/badlands
