execute if score <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> matches ..<<wait_ticks>> run scoreboard players add <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> 1

{% for x in range(0, activation.radius + 1) %}
{% for y in range(0, activation.radius + 1) %}
{% for z in range(0, activation.radius + 1) %}
execute as @a at @a if block ^<<x>> ^<<y>> ^<<z>> <<activation.item>>[powered=true] run function chillcraft:gather/gather
{% endfor %}
{% endfor %}
{% endfor %}