{% macro target_workstation(type="") -%}
{% if type == "" or type == "always" -%}
    {id: "<<workstation.item>>", CustomName: '{"text":"<<workstation.name>>"}'}
{%- elif type == "no_items" -%}
    {id: "<<workstation.item>>", CustomName: '{"text":"<<workstation.name>>"}', Items: []}
{%- elif type == "any_items" -%}
    {id: "<<workstation.item>>", CustomName: '{"text":"<<workstation.name>>"}', Items: [{}]}
{%- else -%}
    {id: "<<workstation.item>>", CustomName: '{"text":"<<workstation.name>>"}', Items: [{id:"<<type>>", Slot:<<workstation.slot>>b}]}
{%- endif %}
{%- endmacro %}