scoreboard players set <<scoreboards.gathering>> <<scoreboards.gathering>> 1

# ===========
# Show Title & subtitle
# ---------------------------------------------------------------------------
title @s times 5 100 5
execute if <<workstation_state()>> run title @s title { "text":"<<region.display_name>> Grind", "bold":true }
{% for tool in region.supported_tools %}
execute if <<workstation_state(item=tool)>> run title @s subtitle { "text":"Tool: <<tool|replace("minecraft:","")|replace("_", " ")>>", "italic":true }
{% endfor %}

# ===========
# Save Damage
# ---------------------------------------------------------------------------
scoreboard players set <<scoreboards.item_damage>> <<scoreboards.item_damage>> 0
execute if <<workstation_state(item='tool_slot')>> store result score <<scoreboards.item_damage>> <<scoreboards.item_damage>> run data get block <<gather.workstation.coords>> Items[<<gather.workstation.slot>>].tag.Damage 1

# ===========
# Do Gathering
# ---------------------------------------------------------------------------
{% for tool, options in region.resources.items() -%}
    {%- for option in options -%}
        {% set gives = options[option] %}
        {% set gives_condition = workstation_conditional(tool, option, options, region=region, usage="items") %}
        {% if gives_condition|length > 0 -%}
            {% for item, amount in gives['items'].items() -%}
                execute <<gives_condition>> run give @s <<item>> <<amount>>
            {% endfor -%}
        {% endif %}
        {% set damage_condition = workstation_conditional(tool, option, options, usage="damage") %}
        {% if damage_condition|length > 0 -%}
            execute <<damage_condition>> run scoreboard players add <<scoreboards.item_damage>> <<scoreboards.item_damage>> <<gives["damage"]>>
        {% endif %}
    {% endfor %}
{% endfor %}

# ===========
# Update Damage
# ---------------------------------------------------------------------------
execute if <<workstation_state(item='tool_slot')>> store result block <<gather.workstation.coords>> Items[<<gather.workstation["slot"]>>].tag.Damage int 1 run scoreboard players get <<scoreboards.item_damage>> <<scoreboards.item_damage>>

# ===========
# Start Wait...
# ---------------------------------------------------------------------------
execute if <<workstation_state()>> run scoreboard players set <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> 0

scoreboard players set <<scoreboards.gathering>> <<scoreboards.gathering>> 0
