execute if score <<scoreboards.gathering>> <<scoreboards.gathering>> matches 0 if score <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> matches <<wait_ticks>>.. if predicate chillcraft:forest run function chillcraft:gather/biome/forest
execute if score <<scoreboards.gathering>> <<scoreboards.gathering>> matches 0 if score <<scoreboards.elapsed_time>> <<scoreboards.elapsed_time>> matches <<wait_ticks>>.. if predicate chillcraft:badlands run function chillcraft:gather/biome/badlands
